Today's agenda: List, tuples, dict, set, conditional statement, loops

# Lists

- mutable ? yes
- indexable?  yes
- sortable?  yes
- iterable ? yes

In [33]:
colors = ['red', 'blue', 'orange', 'green','white']

In [10]:
type(colors)

list

In [12]:
colors[0] = 'pink'

In [34]:
colors

['red', 'blue', 'orange', 'green', 'white']

In [20]:
colors[::-1]

['white', 'green', 'orange', 'blue', 'red']

In [21]:
colors[::1]

['red', 'blue', 'orange', 'green', 'white']

In [24]:
colors.reverse()
colors

['white', 'green', 'orange', 'blue', 'red']

In [31]:
colors.sort()

In [32]:
colors

['blue', 'green', 'orange']

In [35]:
popped_item = colors.pop()  # removes the last item of the list

In [36]:
popped_item

'white'

In [37]:
colors

['red', 'blue', 'orange', 'green']

In [38]:
fruits = ['mango', 'banana']

In [42]:
colors + fruits   # concatenate two lists

['red', 'blue', 'orange', 'green', 'mango', 'banana']

In [40]:
fruits*5  # replicating/repeating the list 'n' times  >> n=integer

['mango',
 'banana',
 'mango',
 'banana',
 'mango',
 'banana',
 'mango',
 'banana',
 'mango',
 'banana']

In [43]:
num1 = [1,2,3,4]
num2 = [10,20,30]

num1+num2

[1, 2, 3, 4, 10, 20, 30]

In [44]:
num1 + colors

[1, 2, 3, 4, 'red', 'blue', 'orange', 'green']

In [47]:
num1.append(100)
num1.append(200)

In [48]:
num1

[1, 2, 3, 4, 100, 100, 200]

In [49]:
num1.append([10,20,30,40])

In [50]:
num1

[1, 2, 3, 4, 100, 100, 200, [10, 20, 30, 40]]

In [51]:
len(num1)

8

In [32]:
num1.append(colors)

In [33]:
num1

[1, 2, 3, 4, 100, [10, 20, 30, 40], ['blue', 'green', 'orange']]

In [34]:
# lists can have int, float, bool, str, lists, tuples ...

In [52]:
len(num1)

8

In [53]:
num1[-1]

[10, 20, 30, 40]

In [54]:
num1[-1][1]

20

In [55]:
num1.extend(fruits)

In [56]:
num1

[1, 2, 3, 4, 100, 100, 200, [10, 20, 30, 40], 'mango', 'banana']

In [57]:
len(num1)

10

In [58]:
num1[-1]

'banana'

In [59]:
num1.extend('HELLO')

In [60]:
num1

[1,
 2,
 3,
 4,
 100,
 100,
 200,
 [10, 20, 30, 40],
 'mango',
 'banana',
 'H',
 'E',
 'L',
 'L',
 'O']

In [61]:
num1.remove

In [62]:
len(num1)

15

In [66]:
num1[::1]

[1,
 2,
 3,
 4,
 100,
 100,
 200,
 [10, 20, 30, 40],
 'mango',
 'banana',
 'H',
 'E',
 'L',
 'L',
 'O']

In [67]:
num1[1:10:2]

[2, 4, 100, [10, 20, 30, 40], 'banana']

In [68]:
for color in colors:
    print(color)

print('\nthis is outside of the for loop')

red
blue
orange
green

this is outside of the for loop

In [69]:
for char in 'Hello':
    print(char + str(5))  # typecasting a integer to a string

H5
e5
l5
l5
o5

In [73]:
list([1,2,3,4])

[1, 2, 3, 4]

In [72]:

type(list([1,2,3,4]))

list

In [74]:
list('Hello')

['H', 'e', 'l', 'l', 'o']

# List Comprehension

In [75]:
nums = [1,2,3,4,5]

In [76]:
sq = [num**2 for num in nums]

In [77]:
sq

[1, 4, 9, 16, 25]

In [78]:
sq = [num**2 for num in nums if num>3]  # This is Pythonic code
sq

[16, 25]

In [79]:
sq

[16, 25]

In [89]:
nums

[1, 2, 3, 4, 5]

In [88]:
sq = []
for num in nums:
    sq.append(num**2)
    
    if num==3:
        break

In [90]:
sq

[1, 4, 9]

In [91]:
nums = [10,20,30,40,50]
sq=[]

for k,num in enumerate(nums):
    sq.append(num**2)
    print(k,num,num**2)
    
    if k==3:
        break

0 10 100
1 20 400
2 30 900
3 40 1600

In [92]:
sq

[100, 400, 900, 1600]

# tuples

Reference lists!

- mutable ? NO
- indexable?  yes
- sortable? NO*
- iterable ? yes

In [93]:
t = tuple(nums)

In [94]:
t

(10, 20, 30, 40, 50)

In [95]:
t1 = ('a', True, [1,2,3], 1, 'Hello')

In [96]:
type(t1)

tuple

In [97]:
type(t)

tuple

In [98]:
t1[-1] = 'World'

TypeError: 'tuple' object does not support item assignment

In [99]:
t1[:3]

('a', True, [1, 2, 3])

In [100]:
t = (3,2,5,6,1,)

In [101]:
sorted(t)

[1, 2, 3, 5, 6]

In [102]:
tuple(sorted(t))

(1, 2, 3, 5, 6)

In [105]:
t

(3, 2, 5, 6, 1)

In [103]:
sq = [num**2 for num in t]
sq

[9, 4, 25, 36, 1]

In [104]:
sq = (num**2 for num in t)
sq

In [106]:
list(sq)

[9, 4, 25, 36, 1]

# Dict

**unordered pairs of keys and values **

- mutable ? YES
- indexable?  NO*  , YES by thier keys
- sortable? NO
- iterable ? YES!!

In [108]:
names={1:'A',2:'B'}

In [109]:
type(names)

dict

In [110]:
names

{1: 'A', 2: 'B'}

In [106]:
tel = {'Prashant':9501, 'Harshita':5000, 700:'Jyoti', 55.55:nums}

In [110]:
tel

{'Prashant': 9501, 'Harshita': 5000, 700: 'Jyoti', 55.55: [1, 2, 3, 4, 5]}

In [111]:
tel['Prashant'] = 9000

In [112]:
tel[55.55]

[10, 20, 30, 40, 50]

In [113]:
tel

{'Prashant': 9000, 'Harshita': 5000, 700: 'Jyoti', 55.55: [10, 20, 30, 40, 50]}

In [114]:
tel.pop(55.55)

[10, 20, 30, 40, 50]

In [115]:
tel

{'Prashant': 9000, 'Harshita': 5000, 700: 'Jyoti'}

In [116]:
tel['Pankaj'] = 101

In [117]:
tel

{'Prashant': 9000, 'Harshita': 5000, 700: 'Jyoti', 'Pankaj': 101}

In [118]:
tel.items()

dict_items([('Prashant', 9000), ('Harshita', 5000), (700, 'Jyoti'), ('Pankaj', 101)])

In [119]:
list(tel.items())

[('Prashant', 9000), ('Harshita', 5000), (700, 'Jyoti'), ('Pankaj', 101)]

In [120]:
list(tel.items())[0]

('Prashant', 9000)

In [121]:
list(tel.items())[-1]

('Pankaj', 101)

In [122]:
tel.keys()

dict_keys(['Prashant', 'Harshita', 700, 'Pankaj'])

In [123]:
tel.values()

dict_values([9000, 5000, 'Jyoti', 101])

In [136]:
list(tel.values())

[9000, 5000, 'Jyoti', 101]

In [124]:
for key in tel.keys():
    print(key)

Prashant
Harshita
700
Pankaj

In [125]:
for val in tel.values():
    print(val*5)

45000
25000
JyotiJyotiJyotiJyotiJyoti
505

In [141]:
[val*5 for val in tel.values()]

[45000, 25000, 'JyotiJyotiJyotiJyotiJyoti', 505]

In [126]:
# Unzipping or Unpacking
for k,v in tel.items():
    if str(k).isalpha():
        print(k, v*5)

Prashant 45000
Harshita 25000
Pankaj 505

In [127]:
for item in tel.items():
    print(item)

('Prashant', 9000)
('Harshita', 5000)
(700, 'Jyoti')
('Pankaj', 101)

# Sets

**unordered ** collection of `unique` items

- mutable ? NO
- indexable?  NO
- sortable? NO
- iterable ? YES!!

In [128]:
s1 = set({})

In [129]:
type(s1)

set

In [130]:
s1 = {1,1,2,1,'a','a'}
s1

{1, 2, 'a'}

In [131]:
s2 = {2,1, 'b'}
s2

{1, 2, 'b'}

In [132]:
s1.union(s2)

{1, 2, 'a', 'b'}

In [133]:
s1.intersection(s2)

{1, 2}

In [160]:
colors

['blue', 'green', 'orange']

In [134]:
col = colors

In [135]:
col.pop()

'green'

In [136]:
col

['red', 'blue', 'orange']

In [137]:
colors

['red', 'blue', 'orange']

In [165]:
col1 = colors.copy()

In [166]:
col1.append('pink')

In [167]:
col1

['blue', 'green', 'pink']

In [168]:
colors

['blue', 'green']

In [138]:
28*28

784

In [139]:
32*32*3

3072